/* Startpage  Css
   By Dylan Araps */
html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
/*  background: #657b83; */
  background: #fdf6e3;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Roboto Condensed';
  /* left: 50%; */
  position: absolute;
  top: 30%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
}

h1 {
  color: #657b83;
/*  color: #fdf6e3; */
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 600px;
}

hr {
  border: 0;
  border-top: 0px solid #657b83;
  opacity: .4;
  width: 600px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 600px;
}

li {
/*  color: #fdf6e3; */
  color: #657b83;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
/*  color: #fdf6e3; */
  color: #657b83;
  text-decoration: none;
  transition: .2s;
  opacity: 0.5;
}

a:hover {
  opacity: 0.8;
}

input {
  width: 600px;
  font-size: 1.2em;
  background: none;
  border: none;
  color: #657b83;
  outline: none;
}
